.gallery {
  @extend %c-section;
}

.gallery__title {
  @extend %visually-hidden;
}

.gallery__uptitle {
  margin-bottom: 44px;
}

.works {
  list-style: none;
  padding: 0;
  margin: 0;

  //   card-set
  --item: 1;
  --indent: 30px;
  display: flex;
  flex-wrap: wrap;
  margin: calc(-1 * var(--indent) / 2);

  @include mq(tablet) {
    --item: 2;
  }
  @include mq(desktop) {
    --item: 4;
  }
}
.work__img {
  display: block;
  width: 100%;
  height: auto;
}

.work__example {
  flex-basis: calc((100% - var(--indent) * var(--item)) / var(--item));
  margin: calc(var(--indent) / 2);

  transition: box-shadow $transition-duration;

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
