.logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: var(--logo-cl);
  display: flex;
  align-items: center;
  margin-right: auto;

  &__img {
    margin-right: 16px;
  }

  &__txt {
    animation: txt-slide 600ms ease 1s both;
  }
}
