/* Socials icons */
.socials {
  margin-top: 20px;
  /* outline: 1px solid red; */
  display: flex;
  justify-content: center;
}

.socials-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  border-radius: 50%;
  color: #afb1b8;

  &:hover,
  &:focus {
    background-color: #2196f3;
    color: #ffffff;
  }
}

.social-icon {
  fill: currentColor;
}
