/**
  |============================
  | Сітка на flex-box
  |============================
*/
.grid {
  display: flex;
  flex-wrap: wrap;

  /* Вирішує проблему випадіння маржинів за межі контейнеру */
  margin: calc(-1 * var(--indent) / 2);

  /* Є проблема випадіння маржинів за межі контейнеру */
  /* margin-right: -30px;
  margin-top: -30px; */
}

.grid__item {
  flex-basis: calc((100% - var(--indent) * var(--items)) / var(--items));

  /* Вирішує проблему випадіння маржинів за межі контейнеру */
  margin: calc(var(--indent) / 2);

  /* Є проблема випадіння маржинів за межі контейнеру */
  /* margin-right: 30px;
  margin-top: 30px; */
}
