:root {
  /* Text colors */
  --main-txt-cl: #22343d;
  --accent-txt-cl: #02897a;
  --secondary-txt-cl: #ffffff;
  --logo-cl: #173a56;
  /* Bg colors */

  /* Others */
  --boreder: 4px;

  /* Grid */
  --items: 1;
  --indent: 30px;
}
