/* Сollaboration section*/
.left-side {
  width: 486px;
}

.collaboration-text {
  margin-bottom: 30px;
}

.collaboration-item {
  margin-bottom: 20px;
}

.collaboration-item:last-child {
  margin-bottom: 0;
}

.collaboration-item-title {
  margin-bottom: 12px;

  font-weight: 600;
  font-size: 16px;
  line-height: 1.62;
}
