/* Header styles */
.header__container {
  display: flex;
  align-items: center;
}

.navigation {
  margin-right: 24px;
}

.nav-list {
  display: flex;
}

.nav-list__item {
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.nav-list__link {
  display: block;
  padding: 26px 0;
  line-height: 1.75;
  color: var(--main-txt-cl);

  &--current {
    font-weight: 600;
  }
}

.auth-list {
  display: flex;
}

.auth-list__item {
  &:not(:last-child) {
    margin-right: 24px;
  }
}

.switcher {
  padding: 0;
  margin-left: 23px;

  border: none;
  background-color: transparent;
  cursor: pointer;
}

.switcher__group {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
