/* Support section*/
.support-container {
  flex-direction: row-reverse;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.support-right-side {
  width: 495px;
}

.support-description {
  margin-bottom: 30px;
}

.support-list-item {
  display: flex;

  margin-bottom: 30px;
}

.support-list-item:last-child {
  margin-bottom: 0;
}

.support-list-item-desc {
  margin-left: 30px;
}
